body{
	padding-top: 70px;
}

.jumbotron{
	/*DARK BLUE: #2c3e50
	LIGHT GRAY: #ecf0f1*/
	background: #ecf0f1;
	color: #2c3e50;
}

.navbar-inverse {
      background: #2c3e50;
      color: white;
 }

   .navbar-inverse .navbar-brand, .navbar-inverse a{
      color:white;
    }
    .navbar-inverse .navbar-nav>li>a {
      color: white;
    }